
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../css/index.css">
    
    <title>Movies On Tips</title>
</head>
<body>
    <div class="container">  
        <h1><b>Movies On Tips</b></h1>   
        <div class="buttons"> 
            <button type="submit" class="btn" id="b1">
              Coming soon
            </button>
            <button type="submit" class="btn" id="b2">
              Movies in theatres
            </button>
            <button type="submit" class="btn" id="b3">
              Top rated Indian
            </button>
            <button type="submit" class="btn" id="b4">
              Top rated movies
            </button>
            <button type="submit" class="btn" id="b5">
              Favourite
          	</button>  
        </div>
    </div>

    <div class ="movies-container" id ="movies-container">
    </div>

    <div class = "desc" id="desc"></div>

    <script src="../js/app.js"> </script>
</body>
</html>